body{
    background-color:#3c8c9d;
    line-height:1.6;
    
}
#main {
    display:flex;
    flex-direction:column;
    align-items: center;
}
#gamecenter {
    display: flex;

    position: absolute;
    justify-content: center;
    align-items: center;
    top: 35%;
    width: 100%;
    
}


#game {
    background-image: url("single_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border:#82FAF8;
    border-radius: 30px;
    width:45%;
    background-repeat: no-repeat;
    
}
#taster-og-regler {
    width:45%;
}
h1{
    color: Black; 
    font-family:'Chalkduster', Fantasy ;
    font-size: 65px;   
    font-weight: normal; 
    line-height: 48px; 
    text-align: center;
    order: 1;
}
#Tilbake{
    display: flex;
    background-color: lightblue;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    border: 1px solid;
    border-radius:15px;
    border-color: black;
    justify-content: center;
    width: 100px;
}
#keybind{
    display: flex;
    background-color: lightblue;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    border: 1px solid;
    border-radius:15px;
    border-color: black;
    justify-content: center;
    width: 200px;
}
#status {
    display: flex;

    position: absolute;
    justify-content: center;
    align-items: center;
    height:60px;
    width: 500px;
    background-color: #04a4c4;
    justify-content: space-evenly;
    margin: 5px; 

    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    border-style: solid;
    border-radius:20px;
    border-color: black;
}
.cssBox {
    display: flex;
    background-color: #4cbce4;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    border: 1px solid;
    border-radius:15px;
    border-color: black;
}
#teller{
    background-color:lightblue;
}
audio{
    display: none;
}